@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans";
}

.container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    align-items: end;
    
}

.inputdiv {
    margin-top: 5px;
}

.innerdiv {
    border-radius: 5px;
    height: 70vh;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #FDFFE2;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(12, 24, 31, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(12, 24, 31, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(12, 24, 31, 0.2);
}


.msgcontainer {
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* 
.msgcontainer::-webkit-scrollbar {
    WebKit
    width: 0;
    height: 0;
} */

.send-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #0056b3;
}

.send-button:active {
    background-color: #004085;
}

.input-field {
    width: 250px;
    padding: 5px;
    font-size: 16px;
    margin-right: 3px;
    border: 1px solid #7a4e4e;
    background-color: #FDFFE2;
    border-radius: 5px;
    box-sizing: border-box;
}


.input-field:focus {
    outline: none;
}

.position-absolute {
    position: absolute;
    bottom: 5%;
    right: 5%;
}


.messages {
    padding: 3px 5px;
    background-color: rgba(165, 42, 42, 0.804);
    margin-top: 5px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    max-width: 200px;
    width: auto;
}

.p1container {
    width: 80%;
}

.p1 {
    color: white;
    margin: 0;
    font-size: 14px;
    word-wrap: break-word;
    /* display: flex; */
    /* justify-content: center; */
}

.p2container {
    max-width: 50px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.p2 {
    color: white;
    margin: 0;
    font-size: 8px;
}